<div class="container">
  <h1 class="mt-4 mb-4">Posts</h1>
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= image_tag post.post_images.first.image, size: "200x200", class: "card-img-top rounded" %>
          <div class="card-body">
            <h4 class="card-title"><%= post.title %></h4>
            <% if post.tags.present? %>
              <i class="fas fa-tag">
                <%= post.tags.map(&:name).join(', ') %>
              </i>
            <% end %>
            <div class="d-flex align-items-center mb-2">
              <%= image_tag post.user.get_profile_image, size: '50x50', class: "rounded-circle mr-2" %>
              <span><%= post.user.name %></span>
            </div>
            <%= render 'public/post_comments/counter', post: post %>
            <td><i class="fa-solid fa-magnifying-glass-chart"></i><%= post.read_counts.count %></td>
            <% if admin_signed_in? %>
              <%= link_to 'Read me', admin_post_path(post), class: "btn btn-primary btn-sm" %>
            <% elsif user_signed_in? %>
              <div id="favorite_btn_<%= post.id %>">
                <%= render "public/favorites/btn", post: post %>
              </div>
              <%= link_to 'Read more', post_path(post), class: "btn btn-info btn-sm" %>
            <% else %>
              <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= post.favorites.count %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
