<h1><%= @post.user.name %>さんの投稿</h1>
<h3><%= @post.title %></h3>
<% @post.post_images.each do |post_image| %>
  <%= image_tag post_image.image, size: "200x200" %>
  <%= post_image.text %>
<% end %>
  <% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path %>
  <% end %>
<span id="favorite_btn_<%= @post.id %>">
  <%= render "public/favorites/btn", post: @post %>
</span>
  <%= render 'public/post_comments/index', post: @post %>
  <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>