<h1><%= @post.user.name %>さんの投稿</h1>
<h3><%= @post.title %></h3>
<% @post.post_images.each do |post_image| %>
  <%= image_tag post_image.image, size: "200x200" %>
  <%= post_image.text %>
<% end %>
<%= link_to 'Post_destroy', admin_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>