<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-4" style="background-color: #333333;">
        <div class="card-body">
          <%= image_tag @user.get_profile_image, size: '100x100' %>
          <h1><%= @user.name %></h1>
          <p><%= @user.introduction %></p>
          <p>
            <% if @user.is_active %>
              アカウントは有効です
            <% else %>
              アカウントは無効です
            <% end %>
          </p>
          <%= form_with model: @user, url: admin_user_path(@user), method: :patch, local: true do |f| %>
            <%= f.select :is_active, [['有効', true], ['退会済み', false]], {}, { class: 'form-control' } %>
            <%= f.submit "編集する" %>
          <% end %>
        </div>
      </div>
      <% @user.posts.each do |post| %>
      <div class="col-md-4 mb-4">

            <h4 class="card-title"><%= post.title %></h4>
            <% if post.tags.present? %>
              <i class="fas fa-tag">
                <%= post.tags.map(&:name).join(', ') %>
              </i>
            <% end %>
            <div class="d-flex align-items-center mb-2">
              <% if admin_signed_in? %>
                <%= image_tag post.user.get_profile_image, size: '50x50', class: "rounded-circle mr-2" %>
                <span><%= post.user.name %></span>
              <% else %>
                <%= link_to user_path(post.user), style: 'color: white;' do %>
                  <%= image_tag post.user.get_profile_image, size: '50x50', class: "rounded-circle mr-2" %>
                  <span><%= post.user.name %></span>
                <% end %>
              <% end %>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-1">
              <span><%= render 'public/post_comments/counter', post: post %></span>
              <span><i class="fa-solid fa-magnifying-glass-chart"></i><%= post.read_counts.count %></span>
              <% if admin_signed_in? %>
                <span>
                  <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                  <%= post.favorites.count %>
                </span>
                <%= link_to 'よく見る', admin_post_path(post), class: "btn btn-primary btn-sm" %>
              <% elsif user_signed_in? %>
                <div id="favorite_btn_<%= post.id %>">
                  <%= render "public/favorites/btn", post: post %>
                </div>
                <%= link_to 'もっと読む', post_path(post), class: "btn btn-info btn-sm" %>
              <% else %>
                <span>
                  <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                  <%= post.favorites.count %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
    </div>
  </div>
</div>
