<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="text-center">Log in</h2>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: "font-weight-bold" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password, class: "font-weight-bold" %>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <div class="form-check">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <%= f.label :remember_me, class: "form-check-label" %>
                </div>
              </div>
            <% end %>

            <div class="form-group text-center">
              <%= f.submit "Log in", class: "btn btn-success btn-block",data: {"turbolinks"=>false} %>
            </div>
          <% end %>

          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
