<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <% if admin_signed_in? %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Users", admin_users_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Posts", admin_posts_path, class: 'nav-link' %>
        </li>
        <li>
        <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
        </li>
      </ul>
    <% elsif request.fullpath.include?("/admin") %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Log in", new_admin_session_path, class: 'nav-link' %>
        </li>
      </ul>
    <% elsif user_signed_in? %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", users_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Posts", posts_path, class: 'nav-link' %>
        </li>
        <li>
          <%= link_to "New Post", new_post_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Your favorites", favorites_user_path(current_user), class: 'nav-link' %>
        </li>
          <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
        <li>
          <div class="notification-icon">
          <%= link_to notifications_path do %>
            <i class="fa fa-bell mr-4"></i> <!-- ベルのアイコン -->
              <% if unchecked_notifications.any? %>
                <span class="notification-mark"></span> <!-- 未読マーク -->
              <% end %>
            <% end %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
<%= render 'public/searches/form' %>